.full-width-table {
    width: 100%;
}

.full-width-table th {
    color: black;
    background-color: white;
}

.full-width-table tr:nth-child(odd) {
    background-color: #f2f2f2;
    color: black;
}

.full-width-table tr:nth-child(even) {
    background-color: white;
    color: black;
}

.full-width-table td {
    color: black;
}

.example-container {
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    max-height: 500px;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

.view-details-button {
    background-color: #2196f3;
    box-sizing: border-box;
    padding: 10px 20px;
}