<div id="page-content-wrapper" *ngIf="route.children.length===0">
    <div class="page-content container-fluid col-10 float-right h-100 bg-light">
        <div class="row">
            <div class="col-12 pt-4">
                <app-breadcrumb></app-breadcrumb>
            </div>
        </div>
        <div class="card-class container-fluid bg-primary">
            <div class="row">
                <div class="col-3 pl-3 pt-4 pb-4">
                    <div class="card" style="height: 3rem;">
                        <a class="card-text" [routerLink]="['1']" routerLinkActive="active">Class 1</a>
                    </div>
                </div>
                <div class="col-3 pl-3 pt-4 pb-4">
                    <div class="card" style="height: 3rem;">
                        <a class="card-text" [routerLink]="['2']" routerLinkActive="active">Class 2</a>
                    </div>
                </div>
                <div class="col-3 pl-3 pt-4 pb-4">
                    <div class="card" style="height: 3rem;">
                        <a class="card-text" [routerLink]="['3']" routerLinkActive="active">Class 3</a>
                    </div>
                </div>
                <div class="col-3 pl-3 pt-4 pb-4">
                    <div class="card" style="height: 3rem;">
                        <a class="card-text" [routerLink]="['4']" routerLinkActive="active">Class 4</a>
                    </div>
                </div>
            </div>
        </div>
        <ul>
            <li *ngFor="let num of res" style="list-style: none;">
                <br>
            </li>
        </ul>
    </div>
</div>

<router-outlet></router-outlet>